<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="footer mt-5" th:fragment="footer">
    <footer class="page-footer text-center">
        <div class="" style="background-color: #DDDDDD;padding:10px;">
            <br>
            <ul style="list-style-type: none; font-size: 13px; color: #AAAAAA;">
                <li>
                    <p>
                        <a href="#" style="text-decoration: none; color:#6c757d;">이용약관</a>
                        <a href="#" style="text-decoration: none; color:#6c757d;">개인정보처리방침</a>
                        <a href="#" style="text-decoration: none; color:#6c757d;">사업자정보확인</a></p>
                </li>
                <li>
                    <p style="color:#6c757d;">상호: ND TECH | 대표: 김현일 | 개인정보관리책임자: 김현일 | 전화: 02-2626-8550 | 이메일: modu8@hanmail.net</p>
                </li>
                <li>
                    <p style="color:#6c757d;">주소: 서울시 금천구 가산디지털2로 108, 406 | 사업자등록번호: 119-08-45592</p>
                </li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>