<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <!-- Chart JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script th:src="@{/js/main.js}" defer></script>
    <title>메인페이지</title>
</head>
<body>
<div class="content main_content" layout:fragment="content">
    <div class="main_div1">
        <div class="main_div1_1">
            <div class="status_div">
                <h3 style="font-weight: bold;margin:10px;color:#000000;"><i class="bi bi-postcard"></i> 현 황 판</h3>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <canvas id="myChart"></canvas> <!-- 차트를 표시할 캔버스 -->
            </div>

            <div class="chart_bottom">

            </div>
        </div>

        <div class="main_div1_2">
            <div class="companylist_min">
                <table class="table com_min_tde">
                    <thead>
                    <tr>
                        <th >번호</th>
                        <th>상호명</th>
                        <th>관리자</th>
                        <th>사용중장치</th>
                        <th>활성여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>ND테크</td>
                        <td>장선호</td>
                        <td>분사,열선</td>
                        <td>Y</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="main_div2">
        <iframe
        class="maps"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA55kENX6zixxy8hhgiPiRUFtYXfXpNHrc&q=서울특별시
        &region=KR&language=ko">
        </iframe>
    </div>
</div>
</body>
</html>